<hr id="hr01">
<table id="t01">
    <tr valign="top">
        <td>Location: </td><td>{{ stop.location }}</td>
    </tr>
    <tr valign="top">
        <td>Date: </td><td>{{ stop.timestamp.strftime(DATE_FORMAT) }}</td>
    </tr>
    <tr valign="top">
        <td>Gallons: </td><td>{{ '%0.1f'| format(stop.gallons) }}</td>
    </tr>
    <tr valign="top">
        <td>Trip Mileage: </td><td>{{ '%0.1f'| format(stop.trip) }}</td>
    </tr>
    <tr valign="top">
        <td>Avg Trip MPG: </td><td>{{ '%0.2f'| format(stop.mpg) }}</td>
    </tr>
</table>

{% if stop.vehicle.id == g.vehicle.id %}
<div><a href="{{ url_for('delete', id=stop.id) }}">Delete</a> </div>
{% endif %}