<!-- extend base layout -->
{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vehicle.css') }}">
{% endblock %}

{% block page_content %}
    <table>
        <tr valign="top">
            <td><h1>Vehicle: {{ vehicle.name }}</h1></td>
        </tr>
        <tr valign="top">
            <td>Mileage: {{ '%0.1f'| format(vehicle.mileage) }}</td>
        </tr>
    </table>
    {% for stop in stops.items %}
        {% include '_stop.html' %}
    {% endfor %}
    {% if stops %}
        <div class="pagination">
            {{ macros.pagination_widget(stops, 'vehicle', name=vehicle.name) }}
        </div>
    {% endif %}
{% endblock %}
